<div class="jumbotron mt-3 shadow-lg">
    <article class="media content-section shadow ">
        <!-- TODO: Show profile image-->
        <div class="media-body">
            <!-- TODO Display all content of a single post.-->
            <!-- This html template will be included in other templates -->
            <div class="profile">
                <img>
                <div class="row">
                    <div class="col"><a href="{% url 'profile' post.user %}" style="text-decoration: none;">{{ post.user }}</a></div>
                    <div class="col"><div class="post-date">{{ post.date_published }}</div></div>
                    
                </div>
            </div>
            
            <div class="post-content">{{ post.content }}</div>
            
            <a><i class="fa-solid fa-fire"></i></a>
            {% if post.username == user.username %}
                <a href={% url 'edit-post' post.id%}><i class="fa-solid fa-pen-to-square"></i></a>
                <a href={% url 'delete-post' post.id%}><i class="fa-solid fa-trash"></i></a>
            {% endif %}
        </div>
    </article>
</div>
