{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section" style="margin-top: 50px;">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ profile.image.url }}" alt="profile picture">
            <div class="media-body">
                {% if profile.user.first_name or profile.user.last_name %}
                    <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
                {% endif %}
                <h2>{{ profile.user.username }}</h2>
                <p class="text-secondary">{{ profile.user.email }}</p>
                {% if profile.interest %}
                    <p>Interest: {{ profile.interest }}</p>
                {% endif %}
                {% if profile.age %}
                    <p>Age: {{ profile.age }}</p>
                {% endif %}
                {% if profile.programmingLanguage %}
                    <p>Liked programming language: {{ profile.programmingLanguage }}</p>
                {% endif %}
            </div>
        </div>
        {% if is_own_profile %}
            <div>
                <a href="{% url 'user-update' profile.user.id %}">Edit name and email</a>
                <a style="padding-left: 15px;" href="{% url 'profile-update' profile.id %}">Edit profile</a>
            </div>
        {% elif is_following %}
            <form action="{% url 'unfollow-user' profile.user.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}" />
                <button type="submit" class="like-button color-a" aria-label="Unfollow {{ profile.user.username }}"><i class="fa-solid fa-user-check"></i></button>
            </form>
        {% else %}
            <form action="{% url 'follow-user' profile.user.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.path }}" />
                <button type="submit" class="like-button color-a" aria-label="Follow {{ profile.user.username }}"><i class="fa-solid fa-user-plus"></i></button>
            </form>
        {% endif %}
    </div>
    <h2 style="margin: 20px 0px;">User posts</h2>
    {% if user_posts %}
        {% for post in user_posts %}
            {% include "blog/post.html" with post=post liked_post_ids=liked_post_ids %}
        {% endfor %}
    {% else %}
        <p>There are currently no posts from this user.</p>
    {% endif %}
{% endblock content %}