{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section" style="margin-top: 50px;">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ profile.image.url }}" alt="profile picture">
            <div class="media-body">
                {% if profile.user.first_name or profile.user.last_name %}
                    <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
                {% endif %}
                <h2>{{ profile.user.username }}</h2>
                <p class="text-secondary">{{ profile.user.email }}</p>
                {% if profile.interest %}
                    <p>Interest: {{ profile.interest }}</p>
                {% endif %}
                {% if profile.age %}
                    <p>Age: {{ profile.age }}</p>
                {% endif %}
                {% if profile.programmingLanguage %}
                    <p>Liked Programming Language: {{ profile.programmingLanguage }}</p>
                {% endif %}
            </div>
        </div>
        {% if is_own_profile %}
            <div>
                <a href="{% url "user-update" profile.user.id %}">Edit Name/Email</a>
                <a style="padding-left: 15px;" href="{% url "profile-update" profile.id %}">Edit Profile</a>
            </div>
        {% elif is_Following %}
            <form action={% url 'unfollow-user' user.id %} method="POST">
                {% csrf_token %}
                <button type="submit", name="user-id", value="{{ profile.id }}" class="like-button color-a"><i class="fa-solid fa-user-check"></i>
                </button>
            </form>
        {% else %}
            <form action={% url 'follow-user' user.id %} method="POST">
                {% csrf_token %}
                <button type="submit", name="user-id", value="{{ profile.id }}" class="like-button color-a"><i class="fa-solid fa-user-plus"></i>
                </button>
            </form>
        {% endif %}
    </div>
    <h2 style="margin: 20px 0px;">User Posts</h2>
    {% for post in user_posts %}
        {% include "blog/post.html" with post=post count=forloop.counter liked_posts=liked_posts%}
    {% endfor %}
{% endblock content %}
